div#header
	a.homeBtn(href='/') Home
	a.homeBtn(href='/createOwner') Add New Owner Record

style.
	a.homeBtn {
		background: #483D8B;
		border-radius: 5px;
		text-align: center;
		padding: 10px;
		margin: 10px;
		color: white;
		height: 40%;
		width: 50%;
	}