div#header
	a.homeBtn(href='/bookBrowse') Store Home  (Browse Books)
	a.homeBtn(href='/ownerCreate') Add New Owner Record
	a.homeBtn(href='/orders') Your Orders
	a.homeBtn(href='/reports') Generate Reports
	a.homeBtn(href='/addRemove') Add or Remove Books From Sale
	a.homeBtn(href='/logout') Logout

style.
	a.homeBtn {
		background: #483D8B;
		border-radius: 5px;
		text-align: center;
		padding: 10px;
		margin: 10px;
		color: white;
		height: 40%;
		width: 50%;
	}